*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}

.toggle-btn{
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: #979797;
}

.toggle-btn span:nth-child(1){
    top: 0;
}

.toggle-btn span:nth-child(3){
    top: 100%;
}

.logo{
    height: 30px;
    margin: -10px 30px 0;
}

.logo-image {
    margin-left: 10px;
    width: 150px; /* Définissez la largeur souhaitée */
    height: auto; /* Laissez la hauteur ajuster automatiquement pour conserver les proportions de l'image */
}


.search-box {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 50%;
    height: 35px;
    margin-left: auto; /* Cette ligne décale la search box vers la droite */
}


.search-bar{
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}

.search-btn{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
}

.search-btn img{
    height: 100%;
}

.search-btn i {
    font-size: 24px;
}

.user-options{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.user-options .icon{
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
}

.user-dp{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon{
    padding-right: 15px;
}

.icon i{
    font-size: 24px;
    margin-left: 12px;
}
/* Container pour la barre latérale et les filtres */
.container {
    position: relative;
}

/* side-bar */

.side-bar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 0;
    height: calc(100vh - 60px);
    background: #fff;
    transition: width 0.3s ease;
    overflow-x: hidden;
    z-index: 1;
    /* Ajoutez ces propriétés pour masquer la barre de défilement */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.side-bar::-webkit-scrollbar {
    width: 0; /* Chrome, Safari, and Opera */
}

.side-bar.open {
    width: 250px; /* Largeur souhaitée de la sidebar */
    
}

.side-bar p {
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.side-bar i {
    font-size: 24px;
    margin-right: 10px;
}

.links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links img{
    height: 25px;
    margin-right: 20px;
}

.links:hover,
.links.active{
    background: rgba(0, 0, 0, 0.1);
}

.seperator{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.content{
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.title{
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #979797;
}

/* video.css */
.video-container {
    margin-top: 30px;
    width: 937px; /* Ajustez cette valeur en fonction de votre mise en page */
    height: 527px; /* Hauteur maximale en fonction de la barre de navigation */
    position: relative;
    top: 80px;
    left: 90px;
    overflow: hidden; /* Masquer la barre de défilement */
}

.video-container iframe {
    border-radius: 20px;
    width: 937px; /* Ajustez cette valeur en fonction de votre mise en page */
    height: 527px;
    border: none;
}

.video-container iframe::-webkit-scrollbar {
    width: 0; /* Chrome, Safari, and Opera */
}


/* Ajoutez ces styles à votre feuille de style CSS */
.video-details {
    margin-top: 110px;
    margin-left: 105px;
}

.video-details h1 {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;}

.video-details p {
    font-weight: bold;
    font-size: 17px;
    margin-left: 6px;
    margin-top: 10px;
}


.video-meta {
    display: flex;
    align-items: center;
}

.video-meta img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 12px;
    margin-left: 10px;
}

.video-actions {
    display: flex;
    margin-left: 380px;
}

.like-button,
.share-button {
    font-size: 16px;
    padding: 8px 12px;
    margin-right: 10px;
    background: #fff; /* Couleur de fond de vos boutons */
    border: 1px solid #ccc; /* Bordure de vos boutons */
    border-radius: 20px; /* Ajoutez une grande valeur de rayon pour obtenir des coins arrondis */
    cursor: pointer;
    text-decoration: none; /* Supprime la soulignement du lien pour le cas où les boutons sont des liens */
    display: inline-block; /* Pour les rendre en ligne, afin qu'ils ne prennent que l'espace nécessaire */
    transition: background 0.3s; /* Une transition douce pour le changement de couleur au survol */
}

.like-button i,
.share-button i{
    margin-right: 7px;
}

/* Style pour les boutons au survol */
.like-button:hover,
.share-button:hover {
    background: #f0f0f0; /* Couleur de fond au survol */
}

.other-projects {
    position: absolute;
    top: 50px;
    right: 70px; /* Ajustez cette valeur pour définir la distance entre la colonne et le bord droit de la page */
    width: 400px; /* Ajustez la largeur de la colonne selon vos préférences */
    border: none;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: 10px;
}

.other-projects h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.project-thumbnail {
    display: flex;

}

.project-thumbnail img {
    width: 170px; /* Ajustez la taille de l'image selon vos préférences */
    height: 110px; /* Ajustez la taille de l'image selon vos préférences */
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.project-thumbnail h5 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
    margin-left: 5px;
}
